---
// drift-blobs , disziplinierter , 2 statt 4 blobs , niedrigere opacity
---

<div class="bgfx" aria-hidden="true">
  <span class="bgfx__blob bgfx__blob--1"></span>
  <span class="bgfx__blob bgfx__blob--2"></span>
  <div class="bgfx__grain"></div>
</div>
